@import 'bourbon';

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: $lucida-grande;
    color: #ddd;
    background: rgb(120, 23, 89);
    a {
        color: #aaa;
    }
    h1 {
        margin: 20px;
        text-align: center;
    }
    div#root {
        text-align: center;
        p.save {
            font-size: 0.7em;
        }
        canvas#qr {
            display: none;
        }
        img#qrimg {
            display: block;
            margin: 10px auto;
            padding: 20px;
            border: 5px solid #ddd;
            border-radius: 3px;
            background-color: white;
        }
        input {
            display: block;
            margin: 10px auto;
        }
    }
}